<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Page de connexion</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <!-- <form #form="ngForm" > -->
       <form [formGroup]="signer" (ngSubmit)="SignIn()" novalidate >
      <ion-row>
        <ion-col size-md="8" size-xs="9" offset-xs="1" offset-md="2">
          <ion-img :src="../assets/img/sousScolar.png"></ion-img>

          <div class="bienvenue">
            <h1 ion-text>Inscription</h1>
          </div>

          <div class="padding">
            <ion-item>
              <h3>
                <ion-label position="floating">Nom</ion-label>
              </h3>
              <ion-input size="large" formControlName="surname" name="prenom" type="text" placeholder="Votre prénom" required></ion-input>
            </ion-item>
            <span class="error ion-padding" style='color:red;' color="danger" *ngIf="isSubmitted && errorControl.surname.errors?.required">
            Votre prénom est obligatoire
          </span>
         
            <ion-item>
              <h3>
                <ion-label position="floating">Prénom</ion-label>
              </h3>
              <ion-input size="large"  name="nale" formControlName="name" type="text" placeholder="Votre nom" required></ion-input>
            </ion-item>
            <span class="error ion-padding" style='color:red;' color="danger" *ngIf="isSubmitted && errorControl.name.errors?.required">
            Votre nom est obligatoire
          </span>
            <ion-item>
              <h3>
                <ion-label position="floating">Email</ion-label>
              </h3>
              <ion-input size="large"formControlName="email" name="email" type="email" placeholder="toi@email.com"  required>
              </ion-input>
            </ion-item>
            <span class="error ion-padding" style='color:red;' color="danger" *ngIf="isSubmitted && errorControl.email.errors?.required">
            Votre email est obligatoire
          </span>
          <span class="error ion-padding" style='color:red;' *ngIf="isSubmitted && errorControl.email.errors?.pattern">
            Donnez un email valide.
          </span>
            <br>
            <ion-item>
              <h3>
                <ion-label position="floating">Mot de passe</ion-label>
              </h3>
              <ion-input name="mdp" type="password" formControlName="password" placeholder="Mot de passe"  required></ion-input>
            </ion-item>
            <span class="error ion-padding" style='color:red;' color="danger" *ngIf="isSubmitted && errorControl.password.errors?.required">
            Le mot de passe est obligatoire
          </span>
          <span class="error ion-padding" style='color:red;' *ngIf="isSubmitted && errorControl.password.errors?.pattern">
            Donnez un mot de passe valide.
          </span>
            <ion-item>
              <h3>
                <ion-label position="floating">Confirmation mot de passe</ion-label>
              </h3>
              <ion-input name="confirmPassword" type="password" formControlName="confirmPassword" placeholder="Mot de passe"  required></ion-input>
             
            </ion-item>
             <span class='error ion-padding' style='color:red;' *ngIf="isSubmitted && signer.hasError('mismatchedPasswords') && signer.controls.password.valid">
        Les mots de passe ne correspondent pas 
      </span>
          </div>
          <hr>

          <div class="padding">
            <!-- (click)="logIn(email, password)" -->
            <ion-button  size="large" shape="round" size="large" expand="block" type="submit" >
              <ion-icon slot="start" name="person-add"></ion-icon>S'inscrire
            </ion-button>
            <ion-button shape="round" fill="clear" size="large"  expand="block" [routerLink]="['/connexion']"
               expand="block" (click)="message()">
              <ion-icon slot="start" name="person-circle-outline"></ion-icon>Se connecter
            </ion-button>

          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>