
<ion-app>
  <ion-content>
    <!-- <ion-refresher slot="fixed" (ionRefresh)="reload()">
      <ion-refresher-content refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher> -->
    <ion-grid class="bg" >
      <ion-row >
        <ion-col>
          <ion-img class="logo" src="/assets/logo1.png"></ion-img>
        </ion-col>
      </ion-row>
      <ion-col>
        <ion-label class="texte text-center">Souscolar</ion-label>
      </ion-col>
    </ion-grid>
    <ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col offset="1">
            <ion-label class="bienvenue">Restauration du mot de passe</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>
      <hr>
      <form [formGroup]="control" (ngSubmit)="sendPassword()" novalidate >
        <ion-list>
          <ion-row>
            <ion-col size="10" offset="1">
              <ion-item size="large">
                <ion-label position="floating" class="titre">
                 Email
                </ion-label>
              <ion-input  name="email" formControlName="email" type="email" placeholder="toi@gmail.com" required></ion-input>
              
            </ion-item>
            <span class="error ion-padding" style='color:red;'   *ngIf="isSubmitted && errorControl.email.errors?.required">
              Votre email est obligatoire
            </span>
            <span class="error ion-padding" style='color:red;' *ngIf="isSubmitted && errorControl.email.errors?.pattern">
              Donnez un email valide.
            </span>
            
           </ion-col>
          </ion-row>
          <hr>
         
          </ion-list>
          <hr>
          <hr>
         
         <ion-row>
            <ion-col size="10" offset="1">
              <ion-button  shape="round"  type="submit"  expand="full" >
               Valider</ion-button>
            
              </ion-col>
          </ion-row>
          
          <hr>
         
          <ion-row>
            <ion-col offset="5" size="4">
              <a [routerLink]="['/connexion']" class="inscription">Connexion</a>
            </ion-col>
           
          </ion-row>
        </form>
        
      </ion-grid>
  
    </ion-content>
  </ion-app>