
<ion-app>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="reload()">
    <ion-refresher-content refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="bg" >
    <ion-row >
      <ion-col>
        <ion-img class="logo" src="/assets/logo1.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-col>
      <ion-label class="texte text-center">Souscolar</ion-label>
    </ion-col>
  </ion-grid>
  <ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col offset="1">
          <ion-label class="bienvenue">Bienvenue</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
    <form [formGroup]="log" (ngSubmit)="logIn()" novalidate >
      <ion-list>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-item size="large">
              <ion-label position="floating" class="titre">
               Identifiant
              </ion-label>
            <ion-input  name="email" type="email" placeholder="toi@email.com"formControlName="login" required></ion-input>
          </ion-item>
          <span class="error ion-padding" style='color:red;' color="danger" *ngIf="isSubmitted && errorControl.login.errors?.required">
            L'identifiant est obligatoire
          </span>
          <span class="error ion-padding" style='color:red;' *ngIf="isSubmitted && errorControl.login.errors?.pattern">
            Donnez un identifiant valide.
          </span>
         </ion-col>
        </ion-row>
        <hr>
        <ion-row>
          <ion-col size="10" offset="1">
          <ion-item>
            <ion-label position="floating" class="titre">Mot de passe
                
              </ion-label>
            <ion-input  name="password" type="password" formControlName="password" placeholder="Mot de passe"  required></ion-input>
          </ion-item>
          

       
        
           <span class="error ion-padding" style='color:red;'  *ngIf="isSubmitted && errorControl.password.errors?.required">
            Mot de passe est obligatoire
          </span>
          <span class="error ion-padding" style='color:red;' *ngIf="isSubmitted && errorControl.password.errors?.pattern">
            Donnez un mot de passe valide.
          </span>
        </ion-col>
        </ion-row>
        </ion-list>
        <hr>
        <hr>
       
       <ion-row>
          <ion-col size="10" offset="1">
            <ion-button  shape="round"  type="submit"  expand="full" class="connexion">
             Se connecter</ion-button>
          
            </ion-col>
        </ion-row>
        <ion-row>
         
          <ion-col size="5" offset="1">
            <ion-button color="danger"  type="submit" expand="full" shape="round"  (click)="googleLogin()">
              <ion-icon  name="logo-google"></ion-icon>Google
            </ion-button>
          </ion-col>

          <ion-col size="5" >
            <ion-button color="primary"  type="submit" expand="full" shape="round"
              (click)="facebookLogin()">
              <ion-icon  name="logo-facebook"></ion-icon>Facebook
            </ion-button>
          </ion-col>
         
        </ion-row>
        <hr>
       
        <ion-row>
          <ion-col offset="1" size="4">
            <a [routerLink]="['/inscription']" class="inscription">Inscription</a>
          </ion-col>
          <ion-col >
            <a [routerLink]="['/mot-de-passe-oublie']" class="oublier">Mot de passe oublier ?</a>
          </ion-col>
        </ion-row>
      </form>
      
    </ion-grid>

  </ion-content>
</ion-app>