
  <ion-menu menuId="main-menu" contentId="main">
    <ion-content>
     <div class="menu-header-bg"> </div>
     <div class="header-content">
       <!-- <ion-avatar>
      <ion-img :src="../assets/img/avatar.jfif"></ion-img>
      </ion-avatar> -->
      <ion-label> 
        <!-- <h2>Mme Anne Marie DIOP</h2> -->
        <p>Apprenant</p>
      </ion-label>
      </div>

      <ion-list *ngFor="let pages of navigate">
        <ion-menu-toggle auto-hide="true">
          <ion-item (click)="test()" [routerLink]="pages.url"  routerDirection="root" [class.active-item]="selectedPath==='/pages.url'" routerDirection="forward"  >
              <ion-icon color="primary" [name]="pages.icon" slot="start"></ion-icon>
                {{pages.title}}
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
    
    <ion-content class="logout">
      <div  style="width: auto;" style="margin-top: 95%;">
        <ion-button  style="display: block; width: auto;
          border: none;
          color: white;
          font-size: 16px;
          text-align: center;"
          (click)="logOut()">
          Déconnexion
        </ion-button>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>


  

